{{- $styles := slice -}}
{{- range .Params.styles -}}
  {{- with resources.Get . -}}
    {{- $styles = $styles | append (. | minify | fingerprint) -}}
  {{- else -}}
    {{- errorf "Stylesheet not found in assets: %s" . -}}
  {{- end -}}
{{- end -}}

{{- $scripts := slice -}}
{{- range .Params.scripts -}}
  {{- with resources.Get . -}}
    {{- $scripts = $scripts | append (. | js.Build (dict "minify" true) | fingerprint) -}}
  {{- else -}}
    {{- errorf "Script not found in assets: %s" . -}}
  {{- end -}}
{{- end -}}

{{- return dict "styles" $styles "scripts" $scripts -}}
