<nav>
  <ul>
    <li>
      <a href="{{ site.Home.RelPermalink }}" class="hover-lift">$ Samuel Q<span class="blink">_</span></a>
    </li>
    {{ range site.Menus.main }}
      {{ $isActive := or ($.IsMenuCurrent .Menu .) ($.HasMenuCurrent .Menu .) }}
      <li>
        <a href="{{ .URL }}" class="hover-lift{{ if $isActive }} active{{ end }}">{{ .Name }}</a>
      </li>
    {{ end }}
  </ul>
  <form
    action="{{ "search/" | relURL }}"
    role="search"
    class="nav-search"
    {{ if eq .Type "search" }}data-expanded{{ end }}
  >
    <label for="search-input" class="icon-button hover-lift">
      {{ partial "icon" (dict "icon" "magnifying-glass" "name" "Search") }}
    </label>
    <input
      type="search"
      id="search-input"
      name="q"
      placeholder="Search"
      aria-label="Search"
      autocomplete="off"
    />
  </form>
  <button id="theme-switcher" class="icon-button hover-lift">
    {{ partial "icon" (dict "icon" "sun" "name" "Switch to dark theme" "class" "theme-icon-sun") }}
    {{ partial "icon" (dict "icon" "moon" "name" "Switch to light theme" "class" "theme-icon-moon") }}
  </button>
</nav>
