:root {
  --bg-primary: light-dark(#e1e2e7, #16161e);
  --bg-secondary: light-dark(#e6e7ed, #1a1b26);
  --bg-tertiary: light-dark(#a9b1d6, #24283b);
  --text: light-dark(#343b58, #a9b1d6);
  --blue: light-dark(#2959aa, #7aa2f7);
  --border: color-mix(in srgb, var(--text) 12%, transparent);

  --font-sans: Inter, Arial, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-size-sm: 0.8rem;

  --space-0: 0.25rem;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;

  --radius: 0.25rem;
}
