<nav>
  <ul>
    <li>
      <a href="{{ .Site.BaseURL }}" class="hover-lift">$ Samuel Q<span class="blink">_</span></a>
    </li>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ $isActive := or ($currentPage.IsMenuCurrent .Menu .) ($currentPage.HasMenuCurrent .Menu .) }}
      <li>
        <a href="{{ .URL }}" class="hover-lift{{ if $isActive }}active{{ end }}">{{ .Name }}</a>
      </li>
    {{ end }}
  </ul>
  <button id="theme-switcher" class="hover-lift">
    {{ partial "icon" (dict "icon" "sun-moon" "name" "Toggle theme") }}
  </button>
</nav>

<script>
  document.getElementById("theme-switcher").addEventListener("click", () => {
    const currentScheme = document.documentElement.style.colorScheme;
    let nextTheme;
    if (currentScheme === "dark") {
      nextTheme = "light";
    } else if (currentScheme === "light") {
      nextTheme = "dark";
    } else {
      nextTheme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "light" : "dark";
    }
    setTheme(nextTheme);
  });
</script>
