{{ define "header" }}
  <h1>{{ .Title }}{{ if eq .Kind "term" }} posts{{ end }}</h1>
{{ end }}

{{ define "main" }}
  {{ .Content -}}
  <hr />
  {{ if .Pages }}
    <ul class="cards">
      {{ range .Pages }}
        {{ partial "card" (dict
          "url" .RelPermalink
          "title" .LinkTitle
          "date" (.Date | time.Format ":date_medium")
          "description" .Description
          "page" .)
        }}
      {{ end }}
    </ul>
  {{ else }}
    <p class="no-content">No items</p>
  {{ end }}
{{ end }}
