{{ define "header" }}
  <h1>{{ .Title }}{{ if and (eq .Kind "term") (eq .Type "tags") }} posts{{ end }}</h1>
{{ end }}

{{ define "main" }}
  {{ .Content -}}
  <hr />
  {{ if .Pages }}
    <ul class="cards">
      {{ range .Pages }}
        {{ partial "card" (dict
          "url" .RelPermalink
          "title" .LinkTitle
          "date" (cond .Date.IsZero "" (.Date | time.Format ":date_medium"))
          "datetime" (cond .Date.IsZero "" (.Date.Format "2006-01-02"))
          "description" .Description
          "page" .)
        }}
      {{ end }}
    </ul>
  {{ else }}
    <p class="no-content">No items</p>
  {{ end }}
{{ end }}
