footer {
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
  gap: var(--space-2);
  margin-bottom: var(--space-1);

  .svg-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border);

    &:hover {
      svg {
        fill: var(--blue);
      }
    }

    svg {
      fill: var(--text);
      width: 1.75rem;
      height: 1.75rem;
    }
  }
}
