nav {
  display: flex;
  font-family: "JetBrains Mono", monospace;

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    flex-grow: 1;
    gap: var(--space-2);
  }

  li:first-child {
    font-weight: bold;
  }

  a {
    display: block;
    text-decoration: none;
    color: var(--text);
    user-select: none;

    &:hover {
      color: var(--blue);
    }
  }

  .svg-icon {
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--text);
  }
}

#theme-switcher {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  &:hover {
    svg {
      stroke: var(--blue);
    }
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .blink {
    animation: blink 2s steps(1) 3;
  }
}
